<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <!-- Your header and navbar -->

      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"> <%= brandImage %> </a>
          <%= navLinks %>
        </div>
      </nav>
    </header>

    <main>
      <div class="col-lg-6 grid gap-0 row-gap-3 m-auto">
        <div class="text-center py-4 grid gap-4">
          <h1>Setiap ketukan, sebuah kisah baru.</h1>
        </div>

      <card-story></card-story>



      <!-- Your story content -->
    </main>

    <footer>
      <!-- Your footer -->
      <div class="main-footer bg-dark">
        <div class="container px-3 py-4"><%= footerContent %></div>
      </div>
    </footer>
  </body>
</html>
