<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <!-- Your header and navbar -->

      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="favicon.png" alt="" style="max-height: 50px"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tambah Cerita</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Bahasa
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Indonesia</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Inggris</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link dropdown" href="#">
                  <i class="bi bi-person-circle"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="col-lg-6 p-5 m-auto">
        <div class="text-center border-bottom py-4">
          <h1>Setiap ketukan, sebuah kisah baru.</h1>
        </div>
        <div class="row row-cols-1 grid gap-4">
          <div class="card p-2 g-col-6">
            <div class="card-body">
              <h5 class="card-title border-bottom py-3">
                <i class="bi bi-person-circle"></i> | @mark
              </h5>
              <img
                src="favicon.png"
                class="card-img-top p-2"
                style="max-height: 200px; object-fit: cover"
                alt="..."
              />
              <p class="card-text border-top pt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere,
                numquam minima. Ipsum recusandae culpa corporis dolorem eum
                totam repellat nisi, nobis earum inventore velit aliquid,
                officia dolore, reprehenderit architecto. A!
              </p>
              <h5 class="card-subtitle fs-6">-Senin, 12 Desember 2012</h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Your story content -->
    </main>

    <footer>
      <!-- Your footer -->
      <div class="main-footer bg-dark">
        <div class="container px-3 py-4"><%= footerContent %></div>
      </div>
    </footer>
  </body>
</html>
