<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <!-- Your header and navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/favicon.png" alt="" style="max-height: 50px">
          </a>
          <%= navLinks %>
        </div>
      </nav>

    </header>

    <main>
      <!-- Your story content -->
      <h1>Halaman profil</h1>
    </main>

    <footer>
      <!-- Your footer -->
      <div class="main-footer bg-dark">
        <div class="container px-3 py-4"><%= footerContent %></div>
      </div>
    </footer>
  </body>
</html>
