<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <!-- Your header and navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/favicon.png" alt="" style="max-height: 50px" />
          </a>
          <%= navLinks %>
        </div>
      </nav>
    </header>

    <main>
      <!-- Your story content -->
      <section class="container-md m-auto py-4">
        <div class="row m-auto">
          <div class="card bg-primary text-light">
            <div class="card-body">
              <blockquote class="blockquote mb-0 text-center">
                <i class="bi bi-person-circle"></i>
                <p>"Hai John Doe!"</p>
                <p>
                  "Dasbor Anda menunggu. Posting, edit, hapus cerita Anda dengan
                  mudah."
                </p>
              </blockquote>
            </div>
          </div>
          <div class="row m-auto gy-3">
            <div class="card text-bg-light mb-3" style="height: 400px">
              <div class="card-header text-center">Postingan Anda</div>
              <div class="card-body">
                <h5 class="card-title">Light card title</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <!-- Your footer -->
      <div class="main-footer bg-dark">
        <div class="container px-3 py-4">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>
  </body>
</html>
