<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />

    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <!-- Your header and navbar -->
      <nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/favicon.png" alt="" style="max-height: 50px" />
          </a>
          <%= navLinks %>
        </div>
      </nav>
    </header>

    <main>
      <!-- Your story content -->
      <div>
        <h1 class="text-center py-4">Buat ceritamu!</h1>
      </div>

      <section class="container-md m-auto py-4">
        <form class="container was-validated" novalidate>
          <div class="input-group has-validation row" style="height: 200px">
            <textarea
              class="form-control"
              id="validationForTextarea"
              aria-label="With textarea"
              placeholder="Tuliskan ceritamu disini..."
              required
            ></textarea>
            <div class="invalid-feedback">
              Rangkaian kata-kata cerita jangan kosong
            </div>
          </div>
          <div class="input-group row">
            <label for="formFile" class="form-label">Kirimkan foto</label>
            <input
              type="file"
              class="form-control"
              id="formFile"
              aria-label="insert photo"
              required
            />
            <div class="invalid-feedback">Foto jangan kosong</div>
          </div>
          <div class="d-grid col-6 mx-auto py-5">
            <button type="submit" class="btn btn-outline-success">
              Buat cerita
            </button>
          </div>
        </form>
      </section>
    </main>

    <footer>
      <!-- Your footer -->
      <div class="main-footer bg-dark">
        <div class="container px-3 py-4">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>
  </body>
</html>
